body {
  padding-top: 5rem;
}
.starter-template {
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.div-with-bg
{
    background: color url('C:/Users/ONE/Desktop/beproject/dialysisgui/static_in_pro/our_static/img/akc.jpeg') others;
}